:root {
    --heading-color: #fff;
    --nav-bg-color: #4897d8;
    --box-blocked-color: #fa6e59;
    --box-available-color: #4897d8;
    --box-completed-color: #48E860;
    --box-font-color: #fff;
    --instructions-bg-color: #f8a055;
    --box-border-color: #ffdb5c;
    --credit-info-border-color: #f8a055;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 100px;
    background-color: var(--nav-bg-color);
}

h1 {
    font-family: 'Nunito', 'sans-serif';
    font-size: 36px;
    text-align: center;
    padding-top: 20px;
    color: var(--heading-color);
}

.curriculum {
    padding: 20px 10px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin: auto;
}

.curriculum-column {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

.curriculum-column:first-of-type{
    padding-left: 0px;
}

.instructions {
    text-align: center;
    background-color: var(--instructions-bg-color);
    color: var(--heading-color);
    font-size: 18px;
    font-family: 'Nunito', 'sans-serif';
    height: 50px;
}

.instructions p {
    padding-top: 10px;
}

.credit-info {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.credit-info-text {
    width: auto;
    font-family: 'Nunito', 'sans-serif';
    font-size: 18px;
    border-bottom: 2px solid var(--credit-info-border-color);
    text-align: center;
}

.course {
    width: 120px;
    height: 150px;
    border: 1px solid var(--box-border-color);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 5px;
}

.course.blocked {
    background-color: var(--box-blocked-color);
}

.course.available{
    background-color: var(--box-available-color);
}

.course.completed{
    background-color: var(--box-completed-color);
}

.course-title {

    font-size: 14px;
    padding: 15px 10px;
    text-align: center;
    font-family: 'Source Sans Pro', 'sans-serif';
    color: var(--box-font-color);
}

.course-credits {

    text-align: center;
    font-size: 14px;
    font-family: 'Source Sans Pro', 'sans-serif';
    color: var(--box-font-color);
}

footer{
    height: 50px;
    width: 100%;
    background-color: var(--nav-bg-color);
    color: var(--heading-color);
}

footer p {
    padding-top: 15px;
    text-align: center;
    font-family: 'Nunito', 'sans-serif';
}

.heart {
    color: var(--instructions-bg-color);
    font-size: 18px;
}

@media only screen and (min-width: 570px) and (max-width: 899px){

    header{
        height: 150px;
    }
}

@media only screen and (min-width: 375px) and (max-width: 569px) {
    
    header {
        height: 170px;
    }

    .instructions {
        height: 70px;
    }
}

@media only screen and (max-width: 374px) {
    header {
        height: 170px;
    }

    h1 {
        font-size: 30px;
    }

    .instructions {
        height: 70px;
        font-size: 16px;
    }
}