@import url('https://fonts.googleapis.com/css?family=Odibee+Sans|Roboto&display=swap');


:root {
    --heading-color: #fff;
    --nav-bg-color: #4897d8;
    --box-blocked-color: #fa6e59;
    --box-available-color: #4897d8;
    --box-completed-color: #48E860;
    --box-font-color: #fff;
    --instructions-bg-color: #f8a055;
    --credit-info-border-color: #f8a055;

    --primary-color: #f8a45e;
    --light-color: #fac08e;
    --font-color: #333333;
    
    --light-pink: #FFE0E0;

    --box-available-color: #6495ed;
    --box-completed-color: #95ed64;
    --box-blocked-color: #ed7864;

    --cursive-font: 'Odibee Sans';
    --sans-serif-font: 'Roboto';
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--sans-serif-font), sans-serif;
    font-size: 18px;
}


header {
    width: 100%;
    /* height: 100px; */
    padding: 4em 0 2em;
    background-color: var(--primary-color); 
}

h1 {
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    font-family: var(--cursive-font), cursive;
    color: var(--font-color);
}

.curriculum {
    width: 1024px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin: 2em auto;
}

.curriculum-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    padding-left: 1em;

}

.curriculum-column:first-of-type{
    padding-left: 0;
}

.instructions {
    text-align: center;
    background-color: var(--light-color);
    color: var(--font-color);
    padding: 1em 0;
}

.credit-info {
    /* width: 100%; */
    width: fit-content;
    display: flex;
    justify-content: center;
    padding: 1em;
    background-color: var(--primary-color);
    margin-top: 2em;
    margin-left: 50%;
    transform: translateX(-50%);
}

.credit-info-text {
    text-align: center;
}

.credit-info-text #credit-sum {
    background-color: white;
    padding: 0 .5em;
}

.course {
    width: 100%;
    height: 110px;
    /* border: 1px solid var(--box-border-color); */
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 1em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.course:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.course.blocked {
    cursor: not-allowed;
    background-color: var(--box-blocked-color);
}

.course.available {
    cursor: pointer;
    background-color: var(--box-available-color);
}

.course.completed {
    cursor: pointer;
    background-color: var(--box-completed-color);
}

.course-title, .course-credits, .course-code {
    font-size: 12px;
    text-align: center;
}

.course-code {
    /* background-color: white; */
    margin: 0 1em;
}

.course-title {
    padding: 0 10px;
    color: black;
}

.course-credits {
    background-color: white;
    color: var(--font-color);
    margin: 0 2em;
}

footer{
    height: 50px;
    width: 100%;
    background-color: var(--nav-bg-color);
    color: var(--heading-color);
}
.footer {
    width: 100%;
    background-color: black;
    padding: 2em 0 4em 0;
}

.footer p, .footer p a {
    font-size: 12px;
    color: white;
    text-align: center;
}

.heart {
    color: var(--light-pink);
    font-size: 10px;
}

@media only screen and (min-width: 570px) and (max-width: 899px){
    header{
        height: 150px;
    }
}

@media only screen and (min-width: 375px) and (max-width: 569px) {
    
    header {
        height: 170px;

    }

    .instructions {
        height: 70px;
    }
}

@media only screen and (max-width: 374px) {
    header {
        height: 170px;
    }

    h1 {
        font-size: 30px;
    }

    .instructions {
        height: 70px;
        font-size: 16px;
    }
}